.tab-bar{
    width: 100%;
    height: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
     background: #fff;
    border: #ccc solid 1px;
    padding-top: .1rem;
    .tab-item{
        flex: 1;
        display: flex;
        flex-direction: column;
        span{
            text-align: center;
        }
        span:nth-of-type(1){
            font-size: .56rem;
        }
        span:nth-of-type(2){
            font-size: .26rem;
        }
    }
}
