#title{
  position: relative;
  top: 0;
  left: 0;
  z-index:100;
  background: #fff;
}
.scrollNav{
  position: absolute;
  top: 2.2rem;
  left: 0;
  bottom: 0;
  width: 100%;
 
  
}
/* .con{
  background: #fff;
  z-index:100;
} */
#label {
    padding: .3rem 0;
   background: #fff;
  }
  
  #label ul {
    width: 100%;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  #label ul .label_item {
    width: 25%;
    height: 1.3rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  #label ul .label_item a {
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #label ul .label_item img {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    margin-bottom: 0.14rem;
  }
  #nav {
    position: absolute;
    top: 1rem;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 1.2rem;
    padding: 0.1rem;
    
   
  }
  
  #nav ul {
   width: 100%;
    height: 1rem;
    display: flex;
    border-bottom: 1px solid #ccc;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: nowrap; */
    overflow-x: auto;
    overflow-y: hidden;
  
  }
  #nav>ul>li:hover{
    font-size: .4rem;
      position: relative;
      color: #40404c;
  }
  #nav>ul>li:hover:after{
    border-radius: 1rem;
      display: block;
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0;
      width: .4rem;
      height: .08rem;
      background: #f06742;
  }
  
  #nav ul li {
    flex: 0 0 auto;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    width: 30%;
    font-size: 0.32rem;
    color: #7e8c8d;
  }
  .nav_active{
    /* background: rgba(22, 219, 71, 0.774);
    border-radius: 1rem; */
    border-bottom: .05rem solid seagreen;
  }
  .oterTit{
    width: 100%;
    min-height: 2em;
    /* padding: .5rem; */
  }
  .oterTit>ul{
    width: 100%;
    min-height: 2em;

   display: flex;
   justify-content:space-around;
   flex-wrap: wrap;

  }
  .oterTit>ul>li{
    margin: .1rem .1rem;
    min-width: 25%;
    height: .6rem;
    border: 1px solid #7e8c8d;
    border-radius: .6rem;
    line-height: .6rem;
    text-align: center;

  }
  .theme1,.theme2.theme3{
    background: #fff;
   width: 100%;
   min-height: 5rem;
   margin: .1rem;
 }
 .theme1 h2,.theme2 h2,.theme3 h2{
   width: 100%;
   height: 1rem;
   line-height: 1rem;
   text-align: left;
 }
  .theme1>ul,.theme3>ul{
   width: 100%;
   min-height: 3rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   
 }
  .theme1>ul>li,.theme3>ul>li{
   width: 46%;
   height: 3.6rem;
   
 }
 .theme1>ul>li,.theme3>ul>li>p{
	font-size: .32rem;
}
.theme1>ul>li>img,.theme3>ul>li>img{
  width: 98%;
  height: 2.3rem;
 }
 
 .ani{
  width:100%;
  height:4rem;
  margin:1rem auto;
  overflow: hidden;
  box-shadow:0 0 .05rem rgba(0,0,0,1);
  background-size: cover;
  background-position: center;
  animation-name: loops;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
@keyframes loops {
    0% {
        background:url(https://edu-image.nosdn.127.net/ba1b78464fd44d00bfd249b3dbc41e4e.jpg?imageView&crop=0_0_1242_573&quality=100&thumbnail=750y346&type=webp) no-repeat;             
    }
    25% {
        background:url(https://edu-image.nosdn.127.net/a7a667db609541968b5a8c6cf1a7c3af.jpg?imageView&crop=0_0_1242_573&quality=100&thumbnail=750y346&type=webp) no-repeat;
    }
    50% {
        background:url(https://edu-image.nosdn.127.net/ccce7fe3-230c-44d4-b61c-da1f71b212a8.png?imageView&crop=0_0_1242_573&quality=100&thumbnail=750y346&type=webp) no-repeat;
    }
    75% {
        background:url(https://edu-image.nosdn.127.net/cff5bfea-6fb1-4efc-9f10-2060b13ad867.jpg?imageView&crop=0_0_1242_573&quality=100&thumbnail=750y346&type=webp) no-repeat;
    }
    100% {
        background:url(https://edu-image.nosdn.127.net/7302d2f6e94f438ca33663f67aeae933.jpg?imageView&crop=0_0_1242_573&quality=100&thumbnail=750y346&type=webp) no-repeat;
    }
}